*{
   padding :0;
    margin: 0;
    font-family: 'Popins',sans-serif;
    box-sizing: border-box;
}

.container
{
    background-color: rgb(201, 205, 209);
    height: 500px;
    width: 500px;
    position: relative;
    left: 550px;
    top: 100px;
}


.outer
{
    width: 180px;
    height: 180px;
    /* background: linear-gradient(135deg,#00feba,#5b548a); */
    position: relative;
    
    top: 150px;
    left: 150px;
    border-radius: 50%;
}


.inner 
{
    


    width: 170px;
    height: 170px;
    top: 5px;
    /* width: 10px; */
    left: 6px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center ;
}